<header>
  <mat-toolbar>
    <div class="top-main">
      <a mat-raised-button color="paimary" routerLink="/">
        <b>{{ title }}</b>
      </a>
    </div>


    <div class="top-toolbar">
      <a mat-raised-button color="primary" routerLink="/mountains">
        <b>台灣山岳</b>
      </a>
    </div>

    <div class="top-toolbar">
      <a mat-raised-button color="primary" routerLink="/examples/mrt">
        <b>捷運</b>
      </a>
    </div>

    <div class="top-toolbar">
      <a mat-raised-button color="primary" routerLink="/examples/power">
        <b>次方</b>
      </a>
    </div>

    <div class="top-toolbar">
      <a mat-raised-button color="primary" routerLink="/examples/dog">
        <b>DogAPI</b>
      </a>
    </div>

    <!-- <div class="top-toolbar"> -->
      <!-- <a mat-raised-button color="warn"> -->
        <!-- <b>城市天氣</b> -->
      <!-- </a> -->
    <!-- </div> -->

  </mat-toolbar>
</header>
